body {
    margin: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    width: 400px;
    height: 400px;
    position: relative;
}

.square span {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
    transition: 0.5s;
}

.square:hover span {
    border: none;
}

.square span:nth-child(1) {
    animation: circle 6s linear infinite;
}

.square span:nth-child(2) {
    animation: circle 4s linear infinite;
    animation-direction: reverse;
}

.square span:nth-child(3) {
    animation: circle 10s linear infinite;
}

.square:hover span:nth-child(1) {
    opacity: 0.3;
    background-color: crimson;
}

.square:hover span:nth-child(2) {
    opacity: 0.6;
    background-color: darkorange;
}

.square:hover span:nth-child(3) {
    opacity: 0.9;
    background-color: yellowgreen;
}


@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.square div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    color: #ffffff;
}

.square div a {
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
    padding: 8px;
    text-decoration: none;
}